h3 Investigating Self-Efficacy and Engagement using Automated Feedback
p.uk-text-muted You are invited to participate in a research study conducted by Dr. Judi McCuaig, Dr. Dan Gillis, and Mr. James Fraser, and Mr. John Harmer from the School of Computer Science at the University of Guelph. The results of this study will be used in James Fraser’s Ph.D. Thesis, John Harmer’s MSc and in current research conducted by Dr. McCuaig. This research is recruiting students from introductory computer science and psychology courses to participate in the study. The purpose of this letter is to provide you with the information you require to make an informed decision on participating in this research.

h3 PURPOSE OF THE STUDY
p.uk-text-muted Online educational courses are primed for students to engage in lower cost self-paced learning that is customized to their personalized interests. However, the accessibility of online educational content is failing to produce engaged online learners, as dropout rates are extremely high. The purpose of this research is to investigate the effectiveness of an online educational platform that provides students with automated personalized feedback system (IFS). This research investigates the impact of the IFS on student's engagement, self-efficacy, and course performance. 

h3 PROCEDURES
p.uk-text-muted If you volunteer to participate in this study, we would ask you do the following things:
p.uk-text-muted You will be asked to fill out an initial survey about your course goals and sign up for an online educational platform. The online educational platform provides students the opportunity to submit their written work and receive automated assessment and feedback.  During, students usage of the platform you will be asked to participate in several surveys. All surveys can be answered on a voluntary basis at any point during the experiment. You may continue to use the educational platform without participating in the experiment or answering survey questions. Please note that confidentiality cannot be guaranteed while data are in transit over the internet. We ask you to be honest when asked to supply information about your learning habits or estimations of your own understanding. Self-reports will never affect your grades in the course. You also may be requested to fill out a survey in-person during class time near the midpoint or the end of the course. The total time to fill out surveys during the course of the experiment will be less than 2 hours totals throughout the semester. Once you have signed up for the website, you may log in at any point and upload your written work.  All ownership of the written work submitted remains your property and are removed from the system at the end of the session. Statistical information about your submission will be stored on the system and will be available to you via the platform. The educational platform provides access to the following types of tools:

p.uk-text-muted Software Development: GCC Compiler, Clang Compiler, and CppCheck.
p.uk-text-muted Writing: Spell Checker, Grammar Checker, APA Style Checker, Language, Style, and Tone Checkers, Word Clouds, Text Summarization, Statistical Counts ( Word and Sentence Counts ).

p.uk-text-muted At the end of the semester, researchers will collect information about your study habits, the feedback assessments, answers to survey questions and your assignment and course grades.  Students’ grade information will be kept confidential and will not be available on the platform and only accessible via members of the research team. Your individual grades will never published or made public. This information is collected to identify connections between how students have used the educational platform,  its impact on self-efficacy and engagement and course performance. At the end of the semester student personal identifying data retained on the platform will be anonymized.  All anonymized data will be stored on secure University of Guelph servers for 7 years for research purposes.

h3 POTENTIAL RISK AND DISCOMFORTS
p.uk-text-muted There are no greater risks to participation in this study than those experienced in daily life.

h3 POTENTIAL BENEFITS TO PARTICIPANTS AND/OR SOCIETY
p.uk-text-muted This experimental research provides students access to assessment tools that may improve the quality of their written work and grades. The educational platform provides metrics indicating common errors that allow students to reflect on their mistakes and modify their learning behaviors.  This research could help identify common hurdles for students in online learning and be used to restructure courses.

h3 PAYMENT FOR PARTICIPATION
p.uk-text-muted There is no payment for participation. In appreciation of the time you have given to this study, your name will be entered into a draw for a prize. The prizes include 50$ gift cards to Starbucks, Best Buy, and Tim Hortons. Your odds of winning one of the prizes is based on the number of individuals who participate in the study. We expect that approximately 500-600 individuals will take part in the study. Information collected to draw for the prizes will not be linked to the study data in any way, and this identifying information will be stored separately, then destroyed after the prizes have been provided. The amount received is taxable. It is your responsibility to report this amount for income tax purposes.

h3 CONFIDENTIALITY
p.uk-text-muted Every effort will be made to ensure confidentiality of any identifying information that is obtained in connection with this study. All personal information provided to the IFS education platform will remain confidential and will be anonymized immediately following completion of this study. Results will be presented in an aggregated format that will not identify any one person. All research records obtained will be anonymized kept on a secure server on the University of Guelph campus. All paper and electronic records will be destroyed seven years after completion of this research project. 

h3 PARTICIPATION AND WITHDRAWAL
p.uk-text-muted You can choose whether to be in this study or not and your choice will not affect your grades. If you volunteer to be in this study, you may withdraw at any time in the semester without consequences of any kind. If you withdraw, your data will not be included in the study. If you withdraw from the study, you are still welcome to use the educational platform. The investigator may withdraw you from this research if circumstances arise that warrant doing so.

h3 RIGHTS OF RESEARCH PARTICIPANTS
p.uk-text-muted You may withdraw your consent at any time and discontinue participation without penalty. You are not waiving any legal claims, rights or remedies because of your participation in this research study. This study has been reviewed and received ethics clearance through the University of Guelph Research Ethics Board. If you have questions regarding your rights as a research participant, contact:

p.uk-margin-remove-bottom Research Ethics Coordinator
p.uk-margin-remove-bottom.uk-margin-remove-top University of Guelph 
p.uk-margin-remove-bottom.uk-margin-remove-top 437 University Centre 
p.uk-margin-remove-bottom.uk-margin-remove-top Guelph, ON N1G 2W1 
p.uk-margin-remove-bottom.uk-margin-remove-top Telephone: (519) 824-4120, ext. 56606 
p.uk-margin-remove-bottom.uk-margin-remove-top Fax: (519) 821-5236
p.uk-margin-remove-bottom.uk-margin-remove-top E-mail: sauld@uoguelph.ca

h3 QUESTIONS:
p.uk-text-muted If you have any questions or concerns about the details of the research or this consent form, please feel free to contact: 
p.uk-text-muted Dr. Judi McCuaig ( email: judi@uoguelph.ca, phone: 519-824-4120  x58534 )
