extends ../../shared/views/pageLayout.pug
include ../../shared/UI_components/formSubmit.pug

block content
    div(ng-controller="setupCtrl").uk-container
        h1 #{title}
        p.uk-text-muted {{setup.description}}
        div.researchDescription
            h2 Research Description
            p {{setup.researchDescription}}
        div
            form(name="setup" method="post" action="/setup")#setupForm.uk-margin
                h2 {{setup.displayName}}
                div(ng-repeat="option in setup.options")
                    include setupItem.pug
                button(type="submit").uk-button.uk-button-default Save


    script(src="components/Setup/setupController.js")
