/***
 * stylesheet for feedback errors, warnings, and suggestions
 *
 * note: the !important directive (though usually discouraged), is necessary
 * here in order to ensure the mark-up is not overridden by code-highlighting
 ***/

/* mark up for text boxes */
.spelling, .error {
    display:inline-block;
    background-color: #fb9fb1 !important;
    font-weight: 800 !important;
    text-decoration: none !important;
}

.grammar {
    display: inline-block;
    background-color: #6fc2ef !important;
    text-decoration: none !important;
}

.multiError {
    display: inline-block;
    background-color: #e1a3ee !important;
    text-decoration: none !important;
}

.suggestion {
    display:inline-block;
    color: green !important;
    text-decoration: none !important;
}

.style {
    display: inline-block;
    background-color: #c8c8fa !important;
    text-decoration: none !important;
}

.warning {
    display: inline-block;
    background-color: #eda987 !important;
    font-style: italic !important;
}

/* mark up for popover cards */
.spelling-display, .error-display {
    display: inline-block;
    color:red !important;
}

.grammar-display {
    display: inline-block;
    color: blue !important;
}

.multiError-display {
    display: inline-block;
    color: pink !important;
}

.suggestion-display {
    display: inline-block;
    display:inline-block;
    color: green !important;
}

.style-display {
    display: inline-block;
    color: purple !important;
}

.warning-display {
    display: inline-block;
    color: orange !important;
    font-style: italic !important;
}
