/***
 * stylesheet for feedback errors, warnings, and suggestions
 *
 * note: the !important directive (though usually discouraged), is necessary
 * here in order to ensure the mark-up is not overridden by code-highlighting
 ***/
.spelling {
    display:inline-block;
    color:red !important;
    text-decoration: underline !important;
}

.grammar {
    color: blue !important;
}

.multiError {
    color: pink !important;
}

.suggestion {
    display:inline-block;
    color: green !important;
}

.style {
    color: purple !important;
}

/***
 * code mark-up classes
 ***/
.warning {
    color: orange !important;
    font-style: italic !important;
}

.error {
    color: red !important;
    font-weight: 800 !important;
}
