.markedTextArea {
    resize:none; width:100%; 
    white-space: pre-line;
    
    font-size:2em;
    font-family: "Times New Roman", Times, serif;
    height:100%;
    min-height:100%;
}

.markedTextArea2 {
    resize:none;
    font-size:1em;
    font-family: "Times New Roman", Times, serif;
    overflow-y: auto;
    margin:0;
    height:95%;
}

.longFeedbackContainer
{
    background-color: #121317;
    position:  ifsText.x ifsText.y;
    margin:10;

    /* Align with markedTextArea */
    position:relative;
    top: 30px;
    min-height: 700px;
}

 .headerButtonsContainer
 {
    margin-top:5px;
 }

.summarySection
{
    width:100%;
    font-size em;
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    padding:5;
    margin: 0 auto;
    border-width:3px;
}

.nav-tabs {
    border: none;
}

.btnIcon {
    width:36px;
    height:36px;
}

.btnSideNav {
    width: 24px;
    height: 24px;
    border:0;
}

.ftext
{
    color: white;
    font:1em;
}

.errorType {
    color:white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin:0px;
    text-align:center;
}

.horizontalListLine  li
{
    color:"purple";
    display: inline;
}


.btnText {
    border: none;
    background: #fff;
    background-color:transparent;
    padding:0;
    font-size:1.3em;
}

.panel-group .panel
{
   margin-top:10px;
}