.markedTextArea {
    resize:none; width:100%; 
    height:80%; 
    white-space: pre-line;
}
.spelling
{
    display:inline-block;
    color:red;
    text-decoration: underline;  
}

.grammar 
{
    color: blue;
}

.multiError {
    color:orange;
}

.suggestion
{
    display:inline-block;
    color:green;
}

.btnText {
    border: none;
    background: #fff;
    background-color:transparent;
    padding:0;
}

.errorMsg {
    //background-color: green;
    padding:3;
} 

.suggestionMsg {
    //background-color: red;
    padding:3;
} 

.feedback {
    //background-color: orange;
    padding-left:15;
    padding-left:15;
    padding-top: 10;
    padding-bottom:10;

}

.toolOptionsContainer{
    //background-color: purple;
    padding-right:10;
    padding-bottom:5;
}

.headerButtonsContainer {
    //background-color: yellow;
    padding-right:10;
}

.popover {
    max-width:600px;
    width:300px;
}

.footer {
    padding:10;
}

.cardContainer {
    padding:3;
}

.popover-content {
    padding:5px;
}

.horizontalListLine  li
{
    color:"purple";
    display: inline;
}