extends ../../shared/views/pageLayout.pug

block content
    div(class="col-md-10 col-md-offset-1")
        h2 We're waiting on the page2

        p #{test}
        hr

        div
            ul
                each val,index in result
                    li= val.tool.displayName + "->" + val.result
                    hr
                    hr


        div
            table(style="width:100%")
                thead
                    tr
                        th Program
                        th Feedback
                tbody
                    each val,index in result
                        tr
                            td= val.tool.displayName
                            td= val.result
