extends ../../shared/views/pageLayout.pug
include ../../shared/UI_components/formSubmit.pug

block content
    // link(rel="stylesheet" href="components/Preferences/preferences.css")
    div(class="col-md-6 col-md-offset-3")
        h2 We're waiting on the page

    script(src="components/Preferences/preferencesController.js")
