extends ../../shared/views/pageLayout.pug
include ../../shared/UI_components/formSubmit.pug

block content
    link(rel="stylesheet" href="components/Feedback/feedback.css")
    link(rel="stylesheet" href="components/Feedback/errors.css")
    link(rel="stylesheet" href="components/Feedback/feedbackMini.css")
    div(ng-controller="feedbackCtrl")
        div.row
            div(class="col-md-11 col-md-offset-1")
                form(id="toolSelectionFrm", action="/feedback" method="post")
                    label(class="text-center") Please selected a tool: 
                    select(id="toolSelectorId" onchange="this.form.submit()" name="toolSelector")
                        option( selected= "All"==selectedTool ) All
                        each tool in toolsUsed
                            option( selected= tool.toolName==selectedTool) #{ tool.toolName }
        div.row
            div(ng-class="showSideBar ? 'col-md-7 col-md-offset-1' : 'col-md-10 col-md-offset-1' ")
                uib-tabset( active="active")
                    each file, findex in files
                        uib-tab( index=findex heading= file.originalname disable="{{tab.disabled}}")
                            div.row
                                div(id="ifsText" class="form-control markedTextArea container-fluid" autocomplete="false" autocheck="false" spellcheck="false" contenteditable="true") !{file.markedUp}
            div(ng-class="!showSideBar ? 'col-md-1' : 'col-md-3' ")
                button(id="showLongFeedback" type="button" class="btnIcon" ng-show="!showSideBar" ng-click="showSideBar = !showSideBar")
                    span(class="glyphicon glyphicon-list")

            div(class="col-md-3 longFeedbackContainer ng-cloak" ng-show="showSideBar")
                    include popover.html

        div.row.summarySection
            div(ng-class="showSideBar ? 'col-md-7 col-md-offset-1' : 'col-md-10 col-md-offset-1' ")
                p Feedback Messsages #{feedbackItems.length}

    script(src="components/Feedback/feedbackController.js")

