<div id="popOver" uk-offcanvas="flip: true; overlay: true">

    <div class="uk-offcanvas-bar uk-section uk-section-default uk-text-left">

        <div class="uk-container">
            <button class="uk-offcanvas-close" type="button" uk-close></button>

            <h3 class="" > Additional information </h3>

            <dl class="uk-description-list">
                <dl class="uk-description-list-line">
                <dt class="descriptionTitle"> Error Type</dt>
                <dd> {{ selectedFeedback.type }} </dd>

                <dl class="uk-description-list-line">

                <dt class="descriptionTitle">  Tool </dt>
                <dd> {{ selectedFeedback.toolName }} </dd>

                <dl class="uk-description-list-line">

                <dt class="descriptionTitle"> Description </dt>
                <dd> {{selectedFeedback.feedback}} </dd>

                <dl class="uk-description-list-line">

                <dt class="descriptionTitle"> Suggestions for: {{ selectedFeedback.target }} </dt>
                <dd> </dd>
            </dl>

            <div>
                <ul class="list-group">
                    <li ng-repeat="suggestion in selectedFeedback.suggestions | limitTo: 5" class="list-group-item suggestionListItem"> {{suggestion}} </li>
                </ul>
            </div>
        </div>
    </div>
</div>