div(uk-offcanvas="flip:true; overlay: true")#popOver
    div.uk-offcanvas-bar.uk-text-left
        button(type="button" uk-close).uk-offcanvas-close
        h3 Additional Information
        div
            h4 Rate this feedback
            div(class="uk-grid-small" uk-grid ng-show="wasRated == false" ng-click=" wasRated = !wasRated")
                div.uk-display-inline
                    a(href="#" uk-icon="icon: minus" data-feedbackId="{{selectedFeedback.id}}" data-sessionId="{{selectedFeedback.sessionId}}" data-submissionId="{{selectedFeedback.submissionId}}" class="rateDown uk-icon-button")
                div.uk-padding-small
                    span.uk-padding-remove-top Is this useful?
                div
                    a(href="#" uk-icon="icon: plus" data-feedbackId="{{selectedFeedback.id}}" data-sessionId="{{selectedFeedback.sessionId}}" data-submissionId="{{selectedFeedback.submissionId}}" class="rateUp uk-icon-button")
            div(class="uk-width-1-1" ng-show="wasRated")
                p.uk-text-muted Thank you!

        div(ng-if="selectedArray.length > 1")
            br
            p.uk-text-meta This selection has multiple types of feedback items. Use the buttons below to scroll between items.
            div.uk-align-center
                a(href="" uk-icon="icon: arrow-left" ng-click="getPrevSelected()").uk-icon-button
                span.uk-margin-left.uk-margin-right Prev/next feedback
                a(href="" uk-icon="icon: arrow-right" ng-click="getNextSelected()").uk-icon-button

        dl.description-list
            dt Feedback Type
            dd {{ selectedFeedback.type }}
            br

            dt Feedback Item
            dd(ng-if="selectedFeedback.lineNum") Line: {{ selectedFeedback.lineNum }}
            dd(ng-if="selectedFeedback.decodedTarget") {{ selectedFeedback.decodedTarget }}
            br

            dt Description
            dd {{ selectedFeedback.feedback }}
            br

            dt Assessment Tool
            dd {{ selectedFeedback.displayName}} {{ selectedFeedback.toolName }}
            br

            dt(ng-if="selectedFeedback.suggestions.length > 0")
                | Suggestions for:
                br
                em {{ selectedFeedback.decodedTarget }}
        div
            ul.uk-list.uk-list-divider
                li(ng-repeat="suggestion in selectedFeedback.suggestions | limitTo: 5") {{ suggestion }}