div.panel.panel-primary
    div.panel-heading
        h4.panel-title.text-center
            p File Upload
    div(class="panel-body text-center")
        h4 Please select files to upload
        hr
        input(type="file" name="file" multiple required)
        input(type="hidden" name="time"  id="time" value=Date.now())
        hr
        //include fileUploadFileDisplay.pug
        hr
        div
        input(type="submit" value="Evaluate" name="submit" uk-toggle="target: #processingModal")

    div(id="processingModal" uk-modal="center: true; bg-close: false; esc-close: false;")
        div.uk-modal-dialog.uk-width-1-2
            <button class="uk-modal-close-default" type="button" uk-close></button>
            div.uk-modal-header
                h2(uk-modal.title) Processing Files please wait...
                div(class="uk-progress uk-progress-success")
                    div(class="uk-progress-bar" style="width:40%")
            div(class="uk-modal-body")
                script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
                script(src="surveyjs/survey.jquery.js")
                script(src="components/Survey/surveyReady.js")
                script.
                    // Due to the uglyinesses of multiple front-end languages (pugly and jquery)
                    $(document).ready( function() {
                        Survey.defaultBootstrapCss.navigationButton = "btn btn-primary";
                        Survey.Survey.cssType = "bootstrap";
                        var squestions =!{surveyQuestions};
                        var model = new Survey.Model(squestions);
                        $("#surveyElement").Survey({
                            model:model,
                            onComplete: sendDataToServer
                        });
                    });

                div(class="col-md-12")
                    div(id="surveyElement")
    script(src="components/FileUpload/upload-panel.js")