div.panel.panel-primary
    div.panel-heading
        h4.panel-title.text-center
            p File Upload
    div.panel-body.text-center
        h4 Please select files to upload
        hr
        input(type="file" name="file"  multiple required)
        input(type="hidden" name="time"  id="time" value=Date.now())
        hr
        input(type="submit" value="Evaluate" name="submit")
