div
    h2 File Upload
    hr
div
    p.uk-text-muted Please select files to upload
    div(uk-form-custom).uk-width-1-1
        input(id="submissionInput" type="file" name="file" multiple required)
        div#upload-panel.upload-panel.uk-placeholder.uk-text-center
            span(uk-icon="icon: push; ratio: 2").uk-align-center.uk-display-block
            span.uk-text-center
                | Drag and drop files here or 
                span.uk-link
                    | select one or more 
                    | to upload
        input(type="hidden" name="time"  id="time" value=Date.now())

    div(id="processingModal" uk-modal="center: true; bg-close: false; esc-close: false;")
        div(class="uk-width-1-1 uk-width-2-3@l").uk-modal-dialog
            button(class="uk-modal-close-default" uk-close)
            div.uk-modal-header
                h2(id="modalTitle" uk-modal.title) Processing Files please wait...
                progress(value="0" max="100" uk-hidden)#progressbar.uk-progress
                button(id="proceedBtn" class="uk-button uk-hidden") View Feedback
                div(id="modalAlert" class="uk-alert uk-alert-danger uk-hidden")
                    p Unable to load files
            div(class="uk-modal-body")
                script(src="surveyjs/survey.jquery.js")
                script(src="components/Survey/surveyReady.js")
                script(src="/socket.io/socket.io.js")
                script(src="/components/FileUpload/fileUploadEvents.js")
                script.
                    // Due to the uglyinesses of multiple front-end languages (pug and jquery)
                    $(document).ready( function() {
                        Survey.defaultBootstrapCss.navigationButton = "btn btn-primary";
                        Survey.Survey.cssType = "bootstrap";
                        var squestions =!{surveyQuestions};
                        if(squestions) {
                            var model = new Survey.Model(squestions);
                            $("#surveyElement").Survey({
                                model:model,
                                onComplete: sendDataToServer
                            });
                        }
                    });
                if tip
                    div
                        h3 #{tip.title}
                        p #{tip.desc}
                else
                    div
                        div(id="surveyElement")




script(src="components/FileUpload/progressModal.js")
