div.panel.panel-primary
    div.panel-heading
        h4.panel-title.text-center
            p File Upload
    div.panel-body.text-center
        h4 Please select files to upload
        hr
        input(type="file" name="file" required)
        hr
        input(type="submit" value="Upload Value" name="submit")
