extends ../../shared/views/pageLayout.pug

block scripts
    script(src="/socket.io/socket.io.js")
    script(src="components/Dashboard/dashboard.js")

block content
    div(ng-controller="dashboardCtrl").uk-container
        h1 #{title}
        p.uk-text-meta Welcome to the IFS dashboard! Here you can see various statistics and models about your usage and learning with the Immediate Feedback System. These models will improve over time, so make sure to check back regularly.
        if messages.errorMessage
            div(uk-alert).uk-alert-danger
                p.uk-align-center.errorMessage #{messages.errorMessage}

        div(class="uk-width-1-1").uk-section
            div.uk-margin-medium
                include dashboardStudentProfile.pug
            span(ng-if="courses && courses.length >= 0")
                div.uk-clearfix
                    h2.uk-text-capitalize.uk-float-left {{toolType}} Assessment Information
                    div.uk-inline.uk-float-right
                        a(href="#" uk-icon="icon: info").uk-icon-button
                        div(uk-dropdown="pos: left-center; delay-hide: 100")
                            p.uk-text-muted
                                | Not looking for stats related to {{toolType}}? Go to 
                                a.uk-text-primary(href="/preferences") preferences
                                |  and change your tool type.
                span(ng-if="toolType == 'writing'")
                    div.uk-margin
                        include dashboardStats.pug
                span(ng-if="toolType != 'writing'")
                    div.uk-margin
                        include dashboardProgrammingStats.pug
        br

    script(src="components/Dashboard/dashboardController.js")
    link(rel="stylesheet" href="components/Dashboard/dashboard.css")
    link(rel="stylesheet" href="components/Feedback/errors.css")
