div.uk-card
    div.uk-card-body.uk-margin-remove.uk-padding-remove-top.uk-padding-remove-bottom
        input(type="checkbox" name="{{assignTask.taskName}}" onclick="onCheckboxClick()").uk-checkbox.taskFocusItem
        label(for="{{assignTask.taskName}}").uk-padding-small {{assignTask.taskName }}