div.uk-card.uk-card-default
    div.uk-card-body
        ul.uk-list
            li
                p(ng-if="accuracy && accuracy.length > 1").uk-width-1-2.uk-display-inline {{sectionName}} is {{ (accuracy[0].value /  (accuracy[0].value + accuracy[1].value) * 100) | number:0 }} %
                p(ng-if="!accuracy || accuracy.length <= 1").uk-width-1-2.uk-display-inline {{sectionName}} is not available.
