div#studentFocus
    div#unsetCurrentFocus(ng-show="activeStudentFocus==0" ng-click="getNextSelected( $event )").uk-card
        div.uk-card-header
            h2 What is your focus today?
        div.uk-card-body.uk-padding-remove-top
            p ______________________________________________

    div#selectAssignment.uk-card(ng-show="activeStudentFocus==1")
        button(type="button" uk-close ng-click="resetSelectedFocus($event)").uk-modal-close-default
        div.uk-card-header
            h2.uk-display-inline Set your focus:
        div.uk-card-body.uk-padding-remove-top
            div.uk-form-controls
                div.uk-grid
                    div.uk-width-1-2
                        label(for="courseSelect").uk-padding-small Select course:
                        select(ng-model="courseSelect" ng-options="c.courseName for c in courses track by c.id" name="courseSelection").uk-select
                    div.uk-width-1-2
                        label(for="assignmentSelect").uk-padding-small Select Assignment:
                        select(ng-model="assignmentSelect" ng-options="a.assignmentName for a in ( assignments | filter:{courseId: courseSelect.id}) track by a.assignmentId").uk-select
                button(type="button" ng-disabled="!hasFocusItem($event)" ng-click="getNextSelected( $event )" ).uk-button.uk-button-default.uk-align-center Set Focus

    div#studentSelectedFocus.uk-card(ng-show="activeStudentFocus==2")
        button(type="button" uk-close ng-click="resetSelectedFocus($event)").uk-modal-close-default
        div.uk-card-header
            h2.uk-display-inline Daily Focus:
        div.uk-card-body.uk-padding-remove-top
            h3 {{courseSelect.courseName}} {{assignmentSelect.assignmentName}} Tasks
            div.uk-grid.uk-grid-small.uk-grid-divider.uk-grid-match
                div(ng-repeat="assignTask in ( filteredArray =  (assignmentTasks | filter:{assignmentId:assignmentSelect.assignmentId} ))").uk-width-1-2.uk-margin-bottom
                    include dashboardFocus.pug
            div
                a(href="#" class="uk-button").uk-align-center View Assignment Details 
                    span(uk-icon="icon: info")
            button(id="assignmentCompleteId" type="button" ng-click="assignmentComplete()").uk-button.uk-button-default.uk-align-center.uk-hidden Finish Assignment

    div#assignmentAccomplished.uk-card(ng-show="activeStudentFocus==3")
        button(type="button" uk-close ng-click="resetSelectedFocus($event)").uk-modal-close-default
        div.uk-card-header
            h2.uk-display-inline  Congrats, you've recently completed {{assignmentSelect.assignmentName}}
        div.uk-card-body.uk-padding-remove-top
            button(type="button" ng-click="resetSelectedFocus( $event )" ).uk-button.uk-button-default.uk-align-center  Set New Focus?