div#statsSection
    div.uk-card
        div.uk-card-body.uk-padding-remove-top.uk-margin-remove.top.uk-padding-remove-bottom.uk-margin-remove.bottom
            div(ng-if="stats" data-uk-grid-margin).uk-grid
                div(ng-repeat="submissionErrorRate in [stats.userStats.submissionErrorRate]" ng-init="sectionName='My Accuracy';").uk-width-1-2
                    include dashboardAccuracySection.pug

                div(ng-repeat="submissionErrorRate in [stats.socialStats.submissionErrorRate]" ng-init="sectionName='Class Accuracy';").uk-width-1-2
                    include dashboardAccuracySection.pug

                ////////////////////////////////////////////// Section
                div.uk-width-1-1.uk-margin-medium-bottom
                    hr

                div(ng-repeat="myArr in [stats.userStats.commonFeedback.value] track by $index" ng-init="sectionName='Most Common Feedback';")
                    include programmingCommonFeedback.pug

                ////////////////////////////////////////////// Section
                div.uk-width-1-1.uk-margin-medium-bottom
                    hr

                div.uk-width-1-2
                    h4.uk-padding-remove.uk-margin-remove Student Tool Usage
                    ul.uk-list.uk-list-striped
                        li(ng-repeat="stat in [stats.userStats.mostUsedTools, stats.userStats.mostFeedbackTools, stats.userStats.mostViewedMoreFeedbackTool] track by $index")
                            p(ng-if="!stat.displayName").uk-display-inline No student submissions
                            p(ng-if="stat.displayName").uk-display-inline {{ stat.displayName }}: {{ stat.toolName }}

                div.uk-width-1-2
                    h4.uk-padding-remove.uk-margin-remove Class Tool Usage
                    ul.uk-list.uk-list-striped
                        li(ng-repeat="stat in [stats.socialStats.mostUsedTools, stats.socialStats.mostFeedbackTools, stats.socialStats.mostViewedMoreFeedbackTool] track by $index")
                            p(ng-if="!stat.displayName").uk-display-inline No student submissions
                            p(ng-if="stat.displayName").uk-display-inline {{ stat.displayName }}: {{ stat.toolName }}

            div(ng-if="!stats")
                p Usage statistics are currently unavailable.