div.uk-card.uk-card-default
    div.uk-card-body
        h4 {{sectionName}}
        ul(ng-if="tools").uk-list.uk-list-striped
            li(ng-repeat="tool in tools")
                p(ng-if="tool.toolName") {{tool.toolName}}
                p(ng-if="!tool.toolName") No tool available.
            p(ng-if="!tools || tools.length == 0").uk-display-inline No assessment tools have been used.
