div.uk-card.uk-card-default
    div.uk-card-body
        h4 {{ sectionName }}
        ul(ng-if="accuracy").uk-list.uk-list-striped
            li 
                p.uk-display-inline Total Words Used : {{ (accuracy[0].value + accuracy[1].value) || 0 }}
            li 
                p.uk-display-inline Correctly Spelt Words : {{accuracy[0].value || 0}}
            li
                p.uk-display-inline Misspelt Words : {{accuracy[1].value || 0}}
