div.uk-card.uk-card-default
	div.uk-card-body
		h2.uk-card-title Questionnaire
		p.uk-text-meta Answer a short questionnaire to start planning out your assignment
		button.uk-button.uk-button.uk-button-large(uk-toggle='target: #questionnaireModal') Questionnaire


// This is the modal
div#questionnaireModal(uk-modal ng-controller='questionnaireCtrl')
	div.uk-modal-dialog
		button(type='button', uk-close).uk-modal-close-default
		div.uk-modal-header
			h2.uk-modal-title {{modalTitle}}
		div.uk-modal-body
			h3#questionNum {{question.num}}
			p#questionText {{question.text}}
			div(ng-repeat="field in question.fields track by $index")
				div(ng-if="field.type == 'text'")
					input(type="text" placeholder="{{field.placeholder}}" ng-model="field.model").uk-input
				div(ng-if="field.type == 'date'")
					input(type="date" ng-model="field.model" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" required).uk-input
				div(ng-if="field.type == 'radio'")
					div(ng-repeat="option in field.options")
						label(style="font-weight:400")
							input(type="radio" ng-model="field.model" value="{{option}}" style='margin: 0; margin-right: 3px; margin-bottom: 2px').uk-radio
							| {{option}}
				div(ng-if="field.type == 'select'")
					select(ng-model="field.model" ng-options="option for option in field.options").uk-select.uk-form-width-small
					label(style="margin-bottom:2px; margin-left:5px; font-weight:400; font-size: 1.3rem").uk-text-bottom {{field.label}}
				div(ng-if="field.type == 'slider'")
					form(style="margin: 0").uk-form-horizontal
						label(for="{{$index}}" style="margin-top: 0; font-size: 1rem").uk-form-label {{field.label}}
						div(id="{{$index}}").uk-form-controls
							input(type="range" ng-model="field.model" min="0" max="10" step="1").uk-range
				div(ng-if="field.type == 'timeEstimate'")
					form(style="margin: 0").uk-form-horizontal
						label(for="{{$index}}" style="margin-top: 3px; font-size: 1rem").uk-form-label {{field.label}}
						div(id="{{$index}}").uk-form-controls
							select(ng-model="field.model[0]" ng-options="option for option in field.hours" style="width: 65px").uk-select.uk-form-width-small
							label(style="margin-bottom:2px; margin-left:5px; font-weight:400; font-size: 1rem; margin-right: 20px").uk-text-bottom Hours
							select(ng-model="field.model[1]" ng-options="option for option in field.minutes" style="width: 65px").uk-select.uk-form-width-small
							label(style="margin-bottom:2px; margin-left:5px; font-weight:400; font-size: 1rem").uk-text-bottom Minutes
				br

		div.uk-modal-footer.uk-text-left
			button.uk-button.uk-button-default(ng-show='i > 0' type='button' style="float: left" ng-click="prev()") Previous	
			button.uk-button.uk-button-default(ng-show='i < list.length-1' type='button' style="float: right" ng-click="next()") Next
			button.uk-button.uk-button-primary(ng-show='i == list.length-1' type='button' style="float: right" ng-click="finish()") Finish
		
script(src="components/Questionnaire/questionnaireController.js")