h4.uk-padding-remove.uk-margin-remove {{sectionName}}
ul.uk-list.uk-list-striped
    li(ng-repeat="stat in myStats")
        p {{stat}}
        p.uk-display-inline {{ stat.displayName }} {{ stat.toolName }}
