extends ../../shared/views/pageLayout.pug

block content
    div.uk-container.uk-container-expand
        script(src="/socket.io/socket.io.js")
        script(src="/components/Dashboard/trackedEvents.js")
        h1 #{title}

        div(class="col-md-10 col-md-offset-1")
            table.uk-table#eventsTable
                caption Session events
                thead
                    tr
                        th Event Type
                        th Name
                        th timestamp
                        th User
                        th Session
                        th Data
                    tbody
