# IFS stuff
ifs.sublime-project
ifs.sublime-workspace
ifs/node_modules/
ifs/uploads/
ifs/errorFile.pop
npm-debug.log
ifs/logs/
ifs/app/shared/img/user/*
ifs/users/
ifs/config/databaseConfig.js
ifs/package-lock.json
ifs/config/dbConnectionConfig.js
.DS_Store
package-lock.json
.vscode

ifs/tools/programmingTools/MeasureCollector/*.pyc

# vim swap files
*.sw[a-p]
