div.footer.uk-section.uk-section-secondary
    div.uk-container
        div.uk-grid.uk-grid-large
            div
                ul.uk-nav
                    li.uk-nav-header
                        a(href="/about") About
                    li
                        a(href="/about#team") Team
                    li
                        a(href="/about#tools") Tools
                    //li
                    //    a(href="/about#licenses") Open Source Licenses
            div
                ul.uk-nav
                    li.uk-nav-header
                        a(href="https://github.com/ian-james/IFS" target="_blank") Code
                    li
                        a(href="https://github.com/ian-james/IFS/wiki" target="_blank") Contributing
                    li
                        a(href="https://github.com/ian-james/IFS/issues/new" target="_blank") Bugs/Feature Requests
        hr
        p.uk-clearfix
            span.uk-float-left
            | Copyright &copy; 2017 IFS
            span#IFS-version.uk-float-right
