// Program Version Number
-var version = "0.0.3";

div.footer.uk-section.uk-section-secondary
    div.uk-container
        div.uk-grid.uk-grid-large
            div
                ul.uk-nav
                    li.uk-nav-header
                        a(href="/about") About
                    li
                        a(href="/about#team") Dev Team
                    li
                        a(href="/about#tools") Core Tools
                    //li
                    //    a(href="/about#licenses") Open Source Licenses
            div
                ul.uk-nav
                    li.uk-nav-header
                        a(href="https://github.com/ian-james/IFS" target="_blank") Code
                    li
                        a(href="https://github.com/ian-james/IFS/issues/new?labels=bug&title=%5BBug%5D%20" target="_blank") Bugs Reports
                    li
                        a(href="https://github.com/ian-james/IFS/issues/new?labels[]=feature-request&labels[]=question&title=%5BFeature%20Request%5D%20&body=%23%23%20Feature%20Request%0A%23%23%23%20Description%0APlease%20include%20a%20detailed%20description%20of%20any%20missing%20features%20you%20would%20like%0Ato%20note.%20Include%20why%20you%20think%20this%20feature%20might%20be%20useful.%0A%0A%23%23%23%20Implementation%0AIf%20you%20are%20a%20developer%20and%20have%20an%20idea%20for%20how%20this%20might%20be%20implemented%2C%0Awrite%20about%20it%20here." target="_blank") Feature Requests
            div
                ul.uk-nav.uk-align-right
                    li
                        a(href="https://uoguelph.ca/computing" target="_blank")
                            span(uk-icon="icon: world; ratio: 0.8").uk-icon.uk-margin-small-right
                            | Guelph SOCS
                    li
                        a(href="https://github.com/ian-james/IFS" target="_blank")
                            span(uk-icon="icon: github; ratio: 0.8").uk-icon.uk-margin-small-right
                            | Github
                    li
                        a(href="https://github.com/ian-james/IFS/wiki")
                            span(uk-icon="icon: question; ratio: 0.8").uk-icon.uk-margin-small-right
                            | IFS Wiki
        hr
        p.uk-clearfix
            span.uk-float-left
            |v#{version} Copyright &copy; 2017
            span#IFS-version.uk-float-right
