<!-- <link rel="stylesheet" href="shared/UI_components/navigationBar.css"/> -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header"><a class="navbar-brand" href="/">IFS</a></div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
   
        <li ng-show="!isLoggedIn">
            <a href="/register">
                <span class="glyphicon glyphicon-user"> Sign-up </span>
                
            </a>
        </li>
        <li ng-show="!isLoggedIn">
            <a href="/login">
                <span class="glyphicon glyphicon-log-in"> Login </span>
            </a>
        </li>
        <li ng-show="isLoggedIn">
            <a href="/preferences">
                <span class="glyphicon glyphicon-user"> Preferences </span>
            </a>
        </li>
        <li ng-show="isLoggedIn">
            <a href="/logout">
                <span class="glyphicon glyphicon-log-in"> Logout </span>
            </a>
        </li>
    </ul>
  </div>
</nav>