nav(uk-navbar).uk-background-secondary.uk-margin
    div.uk-navbar-left
        a(href="/").uk-navbar-item.uk-logo.uk-light IFS
    div.uk-navbar-right
        ul.uk-navbar-nav
            li
                a(href="/") Home
            li(ng-show="!isLoggedIn")
                a(href="/register") Sign-up
            li(ng-show="!isLoggedIn")
                a(href="/login") Login
            li(ng-show="isLoggedIn")
                a(href="/preferences") Preferences
            li(ng-show="isLoggedIn")
                a(href-"/logout") Logout
