extends ../../shared/views/pageLayout.pug

block content    
    script(src="/wordcloud/wordcloud2.js")
    link(rel="stylesheet" href="components/WordCloud/wordCloud.css")
    
    div(class="fluid-container" ng-controller="wordCloudCtrl")
        div.row
            p(id="NotSupported" class="col-md-offset-5")
            p(class="col-md-offset-5")= msg
            canvas(id="canvas" class="canvas col-md-8 col-md-offset-2")
                script.
                    if( WordCloud.isSupported ) {
                        WordCloud(document.getElementById('canvas'), { 'list': !{JSON.stringify(words)},shuffle:"{{shuffle}}", 'minSize':8, 'weightFactor': 5, 'minRotation':'45', 'shape':"circle"});
                    }
                    else
                        document.getElementById('NotSupported').innerHTML = "Word Cloud is not supported";


    script(src="components/WordCloud/wordCloudController.js")