extends ../../shared/views/pageLayout.pug

block scripts
    script(src="/validate/jquery.validate.min.js")
    script(src="shared/views/js/form-rules.js")

block content
    h1.uk-text-center  Welcome to IFS!
    div(class="uk-card uk-card-default uk-card-body uk-align-center uk-width-1-2@s")
        div
            div(uk-alert).uk-alert-danger
                p.errorMessage #{messages.errorMessage}

            form(id="loginFrm" name="login" method="post" action="/login" uk-grid).uk-grid-small
                div.uk-width-1-1
                    input(type="email" name="username" placeholder="Enter email" required).uk-input#inputEmail
                div.uk-width-1-1
                    input(type="password" name="password" placeholder="Enter password" autocomplete required).uk-input#pwd
                div.uk-width-1-2
                    label
                        input(type="checkbox" name="checkbox")#rememberMe.uk-checkbox
                        |  Remember me?

                div.uk-width-1-2
                    input(type="submit" value="Login").uk-button.uk-button-default.uk-align-right

            div.forgot
                a(href="/forgot") Forgot password?
