extends ../../shared/views/pageLayout.pug

block content
    link(rel="stylesheet" href="components/Login/login.css")
    div(class="col-md-4 col-md-offset-4" class="login-form")
        h1.text-center Sign Up
        form(id="registerFrm" name="register" method="post" action="/register")
            div.form-group
                label( for="inputFirstName") First Name
                input( id="inputFirstName"  type="text" class="form-control" placeholder="First Name" required )
                label( for="inputLastName") Last Name
                input( id="inputLastName"  type="text" class="form-control" placeholder="Last Name" required)
            div.form-group
                label( for="inputEmail") Email Address
                input( id="inputEmail"  type="email" name="username" class="form-control" placeholder="Enter Email" required)
            div.form-group
                label( for="pwd") Password
                input( id="pwd"  type="password" "name"="password" class="form-control" placeholder="Enter passowrd" required)
                    
            p.errorMessage #{messages.errorMessage}
            div.form-actions
                input(type="submit" value="Register")