extends ../../shared/views/pageLayout.pug

block content
    h1.text-center Sign Up
    div(class="uk-card uk-card-default uk-card-body uk-align-center uk-width-1-2@s")
        form(id="registerFrm" name="register" method="post" action="/register" uk-grid).uk-grid-small
            div.uk-width-1-1
                input(type="text" placeholder="First name" required).uk-input#inputFirstName

            div.uk-width-1-1
                input(type="text" placeholder="Last name" required).uk-input#inputLastName

            div.uk-width-1-1
                input(type="email" name="username" placeholder="Enter email" required).uk-input#inputEmail

            div.uk-width-1-1
                input(type="password" "name"="password" placeholder="Enter password" required).uk-input#pwd
            div.uk-width-1-1
                input(type="submit" value="Register").uk-button.uk-button-default

            p.errorMessage #{messages.errorMessage}
