extends ../../shared/views/pageLayout.pug

block content
    div(class="col-md-6 col-md-offset-3" style="background-color:gray")
        h2 Sign Up for Free
        form(id="registerFrm" name="register" method="post" action="/register")
            div.form-group
                label( for="inputFirstName") First Name
                input( id="inputFirstName"  type="text" class="form-control" placeholder="First Name" )
                label( for="inputLastName") Last Name
                input( id="inputLastName"  type="text" class="form-control" placeholder="Last Name" )
            div.form-group
                label( for="inputEmail") Email Address
                input( id="inputEmail"  type="email" name="username" class="form-control" placeholder="Enter Email" )
            div.form-group
                label( for="pwd") Password
                input( id="pwd"  type="password" "name"="password" class="form-control" placeholder="Enter passowrd")
            div.form-actions
                button(type="submit" class="btn btn-primary") Register