extends ../../shared/views/pageLayout.pug
include ../../shared/UI_components/formSubmit.pug

block content
    div(ng-controller="prefCtrl").uk-container.uk-container-small
        form(name="preferences" enctype="multipart/form-data" method="post" action="/preferences/profile")#preferencesFrm.uk-margin
            h2 {{ prefsList.displayName }}
            div(ng-repeat="option in prefsList.options")
                include ../Tool/toolInput.pug
            br
            button(type="submit").uk-button.uk-button-primary Save
        form(name="course-enrolment" method="post" action="/preferences/courses")#coursesForm.uk-margin
            h2 Course Enrolment
            div(ng-repeat="course in courses")
                div.uk-clearfix
                    h4.uk-float-left {{ course.name }} ( {{ course.code }} )
                    label.switch-wrapper.uk-float-right
                        // this is to submit data even if a checkbox is unchecked
                        input(type="hidden" name="{{ course.code }}-hidden" id="{{course.code}}-hidden" value="false" ng-model="auto")
                        input(type="checkbox" name="{{ course.code }}" id="{{course.code}}" value="true" ng-model="auto" ng-checked="isEnrolled(course.code) >= 0")
                        div.switch.switch-round
                div.course-desc
                    p {{ course.description }}
                hr
            button(type="submit").uk-button.uk-button-primary Save

    br

    script(src="components/Preferences/preferencesController.js")
