div(ng-if="option.type == 'checkbox'")
    div.uk-clearfix
        label(for="{{option.name}}").uk-form-label.uk-float-left
            | {{ option.displayName }}
        div.uk-inline.uk-float-right
            a(href="#" uk-icon="icon: info").uk-icon-button
            div(uk-dropdown="pos: left-center; delay-hide: 100")
                span {{ option.info }}
    input(type="checkbox" name="{{option.name}}" id="{{option.name}}" ng-checked="{{option.prefValue}}").uk-checkbox.uk-float-right
    br

div(ng-if="option.type == 'text'")
    div.uk-clearfix
        label(for="{{option.name}}").uk-form-label.uk-float-left
            | {{ option.displayName }}
        div.uk-inline.uk-float-right
            a(href="#" uk-icon="icon: info").uk-icon-button
            div(uk-dropdown="pos: left-center; delay-hide: 100")
                span {{ option.info }}
    div.uk-form-controls
        input(type="text" name="{{option.name}}" id="{{option.name}}" value="{{option.prefValue}}").uk-input
    br

div(ng-if="option.type == 'file'")
    div.uk-clearfix
        label(for="{{option.name}}").uk-form-label.uk-float-left
            | {{ option.displayName }}
        div.uk-inline.uk-float-right
            a(href="#" uk-icon="icon: info").uk-icon-button
            div(uk-dropdown="pos: left-center; delay-hide: 100")
                span {{ option.info }}
    div(uk-form-custom="target: true")
        input(type="file" name="{{option.name}}" id="{{option.name}}" accept="image/png")
        input(type="text" placeholder="Select an image" disabled).uk-input.uk-form-width-medium
        button.uk-button.uk-button-default Select
    br
    br

div(ng-if="option.type == 'select'")
    div.uk-clearfix
        label(for="{{option.name}}").uk-form-label.uk-float-left
            | {{ option.displayName }}
        div.uk-inline.uk-float-right
            a(href="#" uk-icon="icon: info").uk-icon-button
            div(uk-dropdown="pos: left-center; delay-hide: 100")
                span {{ option.info }}
    div.uk-form-controls
        select(id="{{option.name}}" name="{{option.name}}").uk-select
            option( ng-repeat='val in option.values' ng-selected="val==option.prefValue" ) {{ val }}
    br
