extends ../../shared/views/pageLayout.pug
include ../../shared/UI_components/formSubmit.pug

block content
    div.uk-container.uk-container-small
        if err
            div(uk-alert).uk-alert-danger
                p.errorMessage #{message}
        else if !err && message
            div(uk-alert).uk-alert-success
                p.successMessage #{message}
        div(ng-controller="prefCtrl")
            form(name="preferences" enctype="multipart/form-data" method="post" action="/preferences/profile")#preferencesFrm.uk-margin
                h2.uk-margin-remove-bottom {{ prefsList.displayName }}
                p.uk-text-meta.uk-margin-remove-top Change settings for your account and choose assessment tools.
                div(uk-alert).uk-alert-primary
                    p
                        |If you would want to review or change your experiment opt-in information please visit the experiment 
                        a(href="/setup") setup page
                        |.
                div(ng-repeat="option in prefsList.options")
                    include prefsItem.pug
                br
                button(type="submit").uk-button.uk-button-primary Save

    br

    script(src="components/Preferences/preferencesController.js")
    script(src="components/Courses/coursesController.js")
