extends ../../shared/views/pageLayout.pug

block content
    div(class="col-md-6 col-md-offset-3" style="background-color:gray")
        h2 Preferences
        form(id="preferencesFrm" name="preferences" method="post" action="/preferences")
            div.form-actions
                button(type="submit" class="btn btn-primary") Save

    script(src="components/Preferences/preferencesController.js")
