extends ../../shared/views/pageLayout.pug
include ../../shared/UI_components/formSubmit.pug

block content
    link(rel="stylesheet" href="components/Preferences/preferences.css")
    div(class="col-md-6 col-md-offset-3" ng-controller="prefCtrl")
        form(id="preferencesFrm" name="preferences" method="post" action="/preferences")
            div.panel.panel-primary
                div.panel-heading
                    h4.panel-title.text-center
                       p  {{ prefsList.displayName }}

                        div.panel-body
                            ul.list-group
                                li(class="list-group-item" ng-repeat="option in prefsList.options" )
                                    include ../Tool/toolInput.pug

            +formSubmit("Save")

    script(src="components/Preferences/preferencesController.js")
