extends ../../shared/views/pageLayout.pug

block scripts
    link(rel="stylesheet" href="components/TextSummarization/textSummary.css")

block content
    div.uk-container
        uib-tabset(active="active")
            each file, findex in files
                - console.log('files', file);
                uib-tab(index=findex heading= file.originalname disable="{{tab.disabled}}")
                div(autocomplete="false" autocheck="false" spellcheck="false" contenteditable="false")#ifsTest.form-control.markedTextArea !{file.summary}
