extends ../../../shared/views/pageLayout.pug
block content
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="/surveyjs/survey.jquery.js")
    script(src="../components/Survey/views/surveyReady.js")
    script.
        // Due to the uglyinesses of multiple front-end languages
        $(document).ready( function() {
            Survey.defaultBootstrapCss.navigationButton = "btn btn-primary";
            Survey.Survey.cssType = "bootstrap";
            var squestions =!{surveyQuestions};
            var model = new Survey.Model(squestions);
            model.setValue('isPulse', false);
            $("#surveyElement").Survey({
                model:model,
                onComplete: sendDataToServer
            });
        });

    div(class="col-md-6 col-md-offset-3")
        div(id="surveyElement")