/* main.css
 *
 * all styling additions, changes, and overrides should go in this file
 */

/***
 * Flexbox sticky footer
 ***/
html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 0;
}

/**
 * text class overrides
 **/
.text-normal {
    font-weight: normal;
}

/***
 * CSS toggle switch, since UI Kit does not include this UI element
 * Based on UI Kit styles; usage requires a checkbox element with a wrapper
 * label that has the .switch-wrapper class; this relies on the fact that
 * clicking a label will activate an associated checkbox
 ***/
.switch-wrapper {
  position: relative;
  display: inline-block;
  width: 3em;
  height: 1.5em;
  margin-top: 0.3em;
  border-radius: 50%;
}

/* Hide default HTML checkbox */
.switch-wrapper input {
    display: none;
}

/* The switch track */
.switch-wrapper > .switch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e8e8e8;
  -webkit-transition: .4s;
  transition: .4s;
}

/* the switch nob */
.switch-wrapper > .switch:before {
  position: absolute;
  content: "";
  height: 1em;
  width: 1em;
  left: 0.25em;
  bottom: 0.25em;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .switch {
  background-color: #1e87f0; /* UI Kit primary colour */
}

input:checked + .switch:before {
  -webkit-transform: translateX(1.5em);
  -moz-transform: translateX(1.5em);
  -ms-transform: translateX(1.5em);
  transform: translateX(1.5em);
}

/* modifer for round switches */
.switch.switch-round {
  border-radius: 3em;
}

.switch.switch-round:before {
  border-radius: 50%;
}

/* modifier for coloured switches */
input:checked + .switch.switch-danger {
    background-color: #f0506e !important; /* UI Kit danger colour */
}

/***
 * Rounded avatar images
 ***/
img.avatar {
    height: 80;
    width: 80;
    border-radius: 50%;
}
img.profile-avatar {
    height: auto;
    width: auto;
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
}
img.nav-avatar {
    height: 2em !important;
    width: 2em !important;
    border-radius: 50% !important;
    border: #f8f8f8 2px solid;
}

/***
 * Profile markup
 ***/
.profile-name {
    font-size: 2em;
}
.profile-username {
    font-size: 1.4em;
    color: #444;
}
.profile-h2 {
    font-size: 1.8em;
    font-variant: small-caps;
}
.profile-text {
    font-size: 1.2em;
}
