div.uk-card-header
    h3.uk-card-title.uk-margin-remove-bottom {{ tool.displayName }}
    div.uk-clearfix
        div.uk-float-left
            span.uk-text-meta.uk-margin-remove-top {{ tool.copyright}} {{ tool.author }}
        div.uk-float-right
            span.uk-text-meta {{ tool.license }}
div.uk-card-body
    p.uk-text-meta {{ tool.description }}
