link(href="/bootstrap/ui-bootstrap-csp.css")
link(href="angular-ui-toggle/angular-ui-toggle.min.css")

script(src="/angular/angular.js")
script(src="/angular-sanitize/angular-sanitize.js")
script(src="/bootstrap/ui-bootstrap.js")
script(src="/bootstrap/ui-bootstrap-tpls.js")
script(src="/fileUpload/angular-file-upload.js")

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

