// IFS version
//script(src="/version.js")

// jquery
script(src="/jquery/jquery.slim.min.js")

// angular-bootstrap
script(src="/angular/angular.min.js")
script(src="/bootstrap/ui-bootstrap.js")
script(src="/bootstrap/ui-bootstrap-tpls.js")
//link(href="/bootstrap/ui-bootstrap-csp.css")
link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")

// uikit
script(src="/uikit/js/uikit.min.js" defer)
script(src="/uikit/js/uikit-icons.min.js" defer)
link(rel="stylesheet" href="/uikit/css/uikit.min.css")

// ChartJS and Angular-chartjs
script(src="/chartjs/Chart.min.js")
script(src="/achartjs/angular-chart.min.js")

// other
link(rel="stylesheet" href="/shared/views/css/main.css")
script(src="/shared/views/js/doc-manip.js")
