html
    head
        block meta
        include headIncludes.pug
        title #{title}
        block head
            include headers.pug
            script(src="/shared/modules/angularApp.js")
        block scripts

    body(ng-app="myApp")
        div.content
            include ../UI_components/navigationBar.pug

            block content

    footer
        include ../UI_components/footer.pug
