html
    head
        block meta
        include headIncludes.pug
        title #{title}
        block head
            
            include angularHeaders.pug
            script(src="shared/modules/angularApp.js")
            script(src="components/Login/loginController.js")
            link(rel="stylesheet" href="shared/views/main.css")
        block scripts

    body(ng-app="myApp")
        include ../UI_components/appNavBar.pug

        block content