mixin toolbar
    link(rel="stylesheet", href="toolbar.css")
        div.container-fluid
            div#myNavBar(class="collapse.navbar.collapese" )
                ul(class="nav navbar-nav navbar-right")
                    li
                        a(href="signup") Sign-up
                    li
                        a(href="Login") Log-in