extends ../../../shared/views/pageLayout.pug
block content
    div.uk-container.uk-container-small.uk-margin
        h2 Announcement Creation
        p.uk-text-meta Create a new announcement that will appear globally
        div(ng-controller="announceCreate").uk-card.uk-card-default.uk-padding
            form.uk-form-stacked
                div.uk-margin
                    label.uk-form-label Title
                    .uk-form-controls
                        input(ng-model="title" text='#{announce.title}').uk-input
                div.uk-margin
                    label.uk-form-label Announcement Text
                    .uk-form-controls
                        textarea(rows=5 ng-model="body").uk-textarea
                            if announce
                                #{announce.body} 
                div.uk-margin
                    label.uk-form-label Expiry date
                    .uk-form-controls
                        input(ng-model="expiry" id="expiry" type="date" )
                div.uk-margin
                    button(ng-click="handleSubmit()").uk-button.uk-button-primary Create Announcement
    script(src="../../components/Announcements/views/scripts/createCtrl.js")
    