extends ../../shared/views/pageLayout.pug

block content
    link(rel="stylesheet" href="components/Test/test.css")
    div(class="col-md-10 col-md-offset-1")
        h3 Viewing File contents
        pre
            #{values}