//- This file contains a buttonbar that will display a couple buttons
//- allowing the user to enable/disable or get more information on a tool

span(name="toolBar-{{ tool.progName }}" class="buttonBar pull-right")

    <button type="button" name="toolbar-{{tool.progName}}-info" uib-tooltip="Enable"  ng-click="disabled = !disabled;$event.preventDefault(); $event.stopPropagation(); "  value="isOn">
             <span class="glyphicon glyphicon-ok"></span> 
    </button>
   
    <button type="button" name="toolbar-{{tool.progName}}-info" uib-tooltip="Disable"  ng-click="$event.preventDefault(); $event.stopPropagation(); "  value="isOn">
         <span class="glyphicon glyphicon-ban-circle"></span> 
    </button>

    <button type="button" name="toolbar-{{tool.progName}}-info" uib-tooltip="Info"  ng-click="$event.preventDefault(); $event.stopPropagation(); "  value="isOn">
         <span class="glyphicon glyphicon-info-sign"></span> 
    </button>