input(type="hidden", name="tool-{{ tool.progName }}" value="{{ tool.displayName }}")
div.uk-grid
    div.tool-title {{tool.displayName}}
    div.uk-width-expand
        div.uk-float-right
            label.switch-wrapper
                input(type="checkbox" name="enabled-{{ tool.displayName }}" id="enabled-{{tool.displayName}}" value="false" ng-checked="false")
                div(uk-toggle="target: #{{tool.cmdToolName}}; animation: uk-animation-slide-top-small").switch.switch-round

span(ng-if="tool.prefValue")
    div(id='{{tool.cmdToolName}}').uk-background-muted
        ul.uk-list.uk-list-divider.uk-padding-small
            li
                div.uk-clearfix
                    div.uk-float-left
                        strong {{tool.description}}
            li(ng-repeat="option in tool.options")
                include toolInput.pug
span(ng-if="!tool.prefValue")
    div(id='{{tool.cmdToolName}}' hidden='').uk-background-muted
        ul.uk-list.uk-list-divider.uk-padding-small
            li
                div.uk-clearfix
                    div.uk-float-left
                        strong {{tool.description}}
            li(ng-repeat="option in tool.options")
                include toolInput.pug
