extends ../../shared/views/pageLayout.pug

block content
    div.uk-container.uk-container-expand
        script(src="/socket.io/socket.io.js")
       
        div(uk-alert).uk-alert-danger
            p.uk-align-center.errorMessage #{messages.errorMessage}
        div.row(ng-controller="toolCtrl")
            div(class="col-md-8 col-md-offset-2")
                form(id="uploadForm" class='uk-form' enctype="multipart/form-data" action="/tool_upload" method="post")
                    div.uk-clearfix
                        h2.uk-float-left #{title}
                        span(uk-toggle="target: #toolSelection; animation: uk-animation-fade" uk-icon="icon: settings")#settingsToggle.uk-icon-button.uk-float-right

                    div(hidden)#toolSelection
                        ul(uk-accordion)
                            li(ng-repeat="tool in toolList").toolsView
                                input(type="hidden", name="tool-{{ tool.progName }}" value="{{ tool.displayName }}")
                                h3.uk-accordion-title {{tool.displayName}}
                                div.uk-accordion-content.uk-background-muted
                                    ul.uk-list.uk-list-divider
                                        li.uk-padding-small.uk-padding-remove-bottom
                                            span.uk-float-left Enable {{ tool.displayName }}
                                            label.switch-wrapper.uk-float-right
                                                input(type="checkbox" name="enabled-{{ tool.displayName }}" id="enabled-{{tool.displayName}}" value="true")
                                                div.switch.switch-round
                                        li(ng-repeat="option in tool.options").uk-padding-small
                                            include toolInput.pug
                    include ../FileUpload/fileUploadPanel.pug

        script(src="components/Tool/toolController.js")
        script(src="components/Tool/tool-settings-panel.js")

