extends ../../shared/views/pageLayout.pug

block content
    div.row
        div.col-md-12.text-center
            h1 Welcome to the tool test page
    div.row(ng-controller="toolCtrl")
        div(class="col-md-8 col-md-offset-2")
            form(id="uploadForm", enctype="multipart/form-data", action="/tool/file/upload/" method="post")
                div(class="toolsView" ng-repeat="tool in toolList")
                    div.panel.panel-primary
                        div.panel-heading
                            h4.panel-title.text-center
                               p  {{ tool.displayName }}
                        div.panel-body
                            h5 Tool tester:
                            ul.list-group
                                li(class="list-group-item" ng-repeat="option in tool.options" )
                                    include toolInput.pu
g                        div.panel-footer
                            h5 This is the footer.

                include ../FileUpload/fileUploadPanel.pug

    script(src="components/Tool/toolController.js")
