input(type="hidden", name="tool-{{ tool.progName }}" value="{{ tool.displayName }}")
h3.uk-accordion-title {{tool.displayName}}
div.uk-accordion-content.uk-background-muted
    ul.uk-list.uk-list-divider.uk-padding-small
        li
            div.uk-clearfix
                div.uk-float-left
                    div.uk-inline.uk-margin-small-right
                        strong Enable {{ tool.displayName }}
                    div.uk-inline
                        a(href="#" uk-icon="icon: info").uk-icon-button
                        div(uk-dropdown="pos: right; delay-hide: 100").uk-width-large
                            span {{ tool.description }}
                div.uk-float-right.uk-inline
                    label.switch-wrapper
                        input(type="checkbox" name="enabled-{{ tool.displayName }}" id="enabled-{{tool.displayName}}" value="true" ng-checked="{{tool.prefValue}}")
                        div.switch.switch-round
        li(ng-repeat="option in tool.options")
            include toolInput.pug
