extends ../../shared/views/pageLayout.pug

block content
    link(rel="stylesheet" href="components/Tool/tool.css")
    div.row
        div.col-md-12.text-center
            h1 Tool Selection
    div.row(ng-controller="toolCtrl")
        div(class="col-md-8 col-md-offset-2")
            form(id="uploadForm", enctype="multipart/form-data", action="/tool_upload" method="post")
                uib-accordion
                    div(class="toolsView" ng-repeat="tool in toolList")
                        input(type="hidden", name="tool-{{ tool.progName }}" value="{{ tool.displayName }}")
                        div(uib-accordion-group class="panel-primary")
                            uib-accordion-heading {{tool.displayName}}
                                include buttonBar.pug
                            fieldset(name="{{ tool.progName }}")
                            ul.list-group
                                li(class="list-group-item" ng-repeat="option in tool.options" )
                                    include toolInput.pug

                include ../FileUpload/fileUploadPanel.pug

    script(src="components/Tool/toolController.js")
