extends ../../shared/views/pageLayout.pug

block scripts
	script(src="/socket.io/socket.io.js")

block content
	link(rel="stylesheet" href="components/Tool/tool.css")
	div.uk-container.uk-container-small
		div.uk-form-horizontal
			div.uk-margin
				label#courseLab.uk-form-label(for='#course') Course
				div.uk-form-controls
					select#course.uk-select
						option None
			div.uk-margin
				label#assignLab.uk-form-label(for='#assign').uk-hidden Assignment
				div.uk-form-controls
					select#assign.uk-select.uk-hidden
						option None
		div(uk-alert hidden).uk-alert-danger
			p.uk-align-center.errorMessage#error #{messages.errorMessage}
		div(ng-controller="toolCtrl")
			form(class='uk-form' enctype="multipart/form-data" action="/tool_upload" method="post")#uploadForm
				div.uk-clearfix
					h2.uk-float-left #{title}
					div(uk-toggle="target: #toolSelection; animation: uk-animation-fade" uk-icon="icon: settings" title="toggle tool settings" uk-tooltip="pos: left")#settingsToggle.uk-icon-button.uk-float-right
				div#toolSelection
					ul(uk-accordion="multiple: true")
						each tool in tools
							li.toolsView
								include toolItem.pug
				include ../FileUpload/fileUploadPanel.pug
			div#buttonWrapper
				button.uk-button.uk-button-primary.uk-button-large#evaluate Submit Files

		script(src="components/Tool/toolController.js")
		script(src="components/Tool/tool-settings-panel.js")