div(class="row" ng-if="option.type == 'checkbox'")
    .checkbox
        label
        input(type="checkbox").uk-checkbox
        |   {{ option.displayName }}

div(class="row" ng-if="option.type == 'text'")
    p {{ option.displayName }}
    input(type="text")

div(class="row" ng-if="option.type == 'select'")
    p {{ option.displayName }}
    select
      option( ng-repeat='val in option.values') {{ val }}
