app.directive( 'toolDirective', function() {
    return {
        restrict: "E",
        scope: {
            tool:'='
        },
        templateUrl: "components/Tool/toolItem.pug",
        link: function( scope, element, attrs ) {
        }
    };
})