
.panel-group .panel
{
   margin-bottom:10px;
}

.buttonBar input,
.buttonBar button
{

	padding: 0;
	margin: 0;
	border:0;
	background: transparent;
	width: 16px;
	height: 16px;
	cursor: pointer;
}

.glyphicon {
	top: 0;
	bottom: 0;
	left:0;
}