div(ng-if="option.type == 'checkbox'")
    span {{ option.displayName }}
    input(type="checkbox").uk-checkbox.uk-float-right

div(ng-if="option.type == 'text'")
    p {{ option.displayName }}
    input(type="text")

div(ng-if="option.type == 'select'")
    label(for="{{ option.displayName }}")
        | {{ option.displayName }}
    select(name="{{ option.displayName }}").uk-select
        option( ng-repeat='val in option.values') {{ val }}
