<div class="fluid-container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="question">
        <span class="questionNumber">
          <p> {{bulletId}} </p>
          <p class="questionText">{{question.text}} </p>
        </span>
        <div class="questionType">
          <input type="{{question.type}}" name="{{question.name}}"/>
        </div>
        <div class="questionFooter">
          <p class="questionFooter">{{question.footer}}</p>
        </div>
      </div>
    </div>
  </div>
</div>