extends ../../shared/views/pageLayout.pug

block scripts
    script(src="/socket.io/socket.io.js")

block content
    div().uk-container
        div(uk-alert).uk-alert-danger
            p.uk-align-center.errorMessage #{messages.errorMessage}

        div
            h2 IFS Surveys
            if surveys && surveys.length > 0
                div
                    each s in surveys
                        div.uk-clearfix.uk-margin-remove-bottom
                            div.uk-grid.uk-margin-top.uk-margin-remove-bottom
                                div.uk-width-2-3
                                    if( s.currentSurveyIndex <= 0)
                                        span(uk-icon="icon: close").uk-margin-small-right.uk-margin-small-top.uk-text-danger
                                    else
                                        span(uk-icon="icon: check").uk-margin-small-right.uk-margin-small-top.uk-text-success
                                    a(href="survey" + s.surveyName class="uk-button") #{ s.title }
                                div.uk-width-1-3
                                    p.uk-margin-small-top (Last updated: #{s.lastRevision})
            else
                h4 Unable to retrieve experiment surveys.